<div class="list-group list-group-flush">
    <div style="display:none;">Atakan Argın</div>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/">Anasayfa</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/istasyonlar">Istasyonlar</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/modeller">Modeller</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/cihazlar">Cihazlar</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/users">Kullanıcılar</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/kartlar">Kartlar</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/sys_users">Sistem Kullanıcıları</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-danger text-white" href="/admin/logout">Çıkış</a>
</div>